@CHARSET "UTF-8";

.crud-list-container { padding:3% 0; }

.crud-list-table {}

.crud-list-table td, .crud-list-table th { 
	text-align: left; vertical-align: middle;
}

td.crud-action-col, th.crud-action-col { 
	text-align: left; vertical-align: middle; width: 300px;
}


.crud-form-container {
	padding: 3%;	
}

.crud-form-container .form-group { 
	overflow:hidden;
	height:auto; 
	}

.crud-form-buttons { 
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

.crud-multiselect-container {
	overflow:visible;
	min-height:300px; 
	
}

/* !important style in bootstrap.table overrides style in bootstrap.multiselect */
.crud-multiselect-container .multiselect-container>li>a>label>input[type=checkbox] {
 	margin: 4px 0 5px -20px !important;
}
.fixed-table-container .multiselect-container input[type="radio"] {margin:0 0 !important; margin-left:-20px !important; }