@charset "UTF-8";

/**  

 **/

/****************************************************************************
    RESET CSS 
    http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
****************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; 
	}
	
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


body {
   font-family:  "Open Sans", Helvetica, sans-serif;
   background-color: #fff;
}

h1, h2, h3 { margin-bottom:0.5em; }
h4, h5, h6 { margin-bottom:0.5em; }

h1  	{ font-size: 2.5em; line-height: 1.1em; font-weight:normal;  }  /* 36px      */
h2 		{ font-size: 2.0em; line-height:1.1em; font-weight:normal; }  /* 32px bold */
h3		{ font-size: 1.5em; line-height: 1.1em; font-weight:bold; }  /* 24px bold */
h4 		{ font-size: 1.125em; line-height: 1.2em; }  /* 18px  */
h5 		{ font-size: 1.0625em; line-height: 1.2em; } /* 17px  */
h6      { font-size: 1.0em; line-height: 1.2em;}


a { color:#00f; }
a:active, a:hover { color:#f00;  text-decoration:none; }

/****************************************************************************
** Site Structure 
****************************************************************************/
header { }

#page-container { }

#page-container > .row { margin-left:0; margin-right:0; padding-left: 0; padding-right:0; }

#content-container {
	background-color: #fff; vertical-align:top; 
}

#content-header { }

#content-section-container {}

#sidebar { } 

footer {}

/****************************************************************************
** NAV LISTS  
****************************************************************************/
dt, dd, li { vertical-align: top; }
li.level1 { padding-left: 0em; padding-right: 6em; }
li.level2 { padding-left: 2em; padding-right: 4em; }
li.level3 { padding-left: 4em; padding-right: 2em; }
li.level4 { padding-left: 6em; padding-right: 0em; }
