@charset "UTF-8";

/**  
CSS for displaying site in wireframe templates
loaded after site.css
 **/

header { width:100%;  }
header nav { display:table; width:68%; min-width:320px; margin:1%; border:#000 solid 1px; padding:1%;  }
header nav ul { display:table-row; width:100%;  }
header nav ul li { display:table-cell; text-align:center;  }
header nav ul li:first-child {text-align:left; }
header nav ul li:last-child {text-align:right; }
header nav ul li a {  display:inline-block; max-width: 200px; min-width: 100px; margin: 0 auto; padding:2%; border:#333 solid 1px; text-align:center;  }

#page-container {

}

#content-container {
	display:inline-block; width: 68%; min-width:320px; margin: 0 1% 1%; border:#000 solid 1px; padding:0 1% 1%;
}

#content-header { display:block; margin:1%; border:#000 solid 0; padding:1% }

#content-section-container {}

#sidebar {	display:inline-block; width:22%; margin: 0 1% 1%; border:#000 solid 0; padding: 0 1% 1%; }

footer { display:block;  width:68%; min-width:320px; margin:1%; border:#000 solid 1px; padding:1%; text-align:center; }

dl{ display:block; margin:1%; border:#000 solid 1px; padding:1%; }
dt { display:inline-block; width:30%; margin:1% 0; font-weight:bold; }
dd { display:inline-block; width:66%; margin:1% 0; padding-left:2%; }

ul { }
li { display:block; margin: 1% 0; padding: 1% 0;  }

.form-group { display:block; margin:1%; border:#000 solid 1px; padding:1%;  }
.form-group label { display:inline-block; width:30%; min-width:200px; margin:1% 0; font-weight:bold; vertical-align:top;  }
.form-group .form-control, .form-group .crud-multiselect-small { display:inline-block; width:66%; min-width:290px; margin:1% 0; padding: 1%; vertical-align:top;  }

.auth-screen .form-group input.form-control, .auth-screen input[type='password'] { width:33%; min-width:290px; margin:1% 0; padding: 1%;  }

.crud-form-buttons, .form-buttons { display:block; margin:1%; border:#000 solid 1px; padding:1%; text-align:center; }
.crud-form-buttons a, .form-buttons a { display:inline-block; padding:1% 2%; margin: 0 1%; border:#666 solid 1px; color: #666; text-decoration:none;  }
.crud-form-buttons input[type='submit'], .form-buttons input[type='submit'] { padding:1% 2%; margin: 0 1%; } 

